<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-button routerLink="/tabs/home" fill="clear" slot="start">
          <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>Atras
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <ion-label class="welcome_lbl">Configuración de gastos</ion-label>


        <ion-label class="title_lbl">Activar o desactivar categorias de gasto</ion-label>

        <ion-item>
            <ion-label>Hogar</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.hogar"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Comida</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.comida"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Educación</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.educacion"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Compras</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.compras"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Transporte</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.transporte"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Entretenimiento</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.entretenimiento"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Mascotas</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.mascotas"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Suscripción</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.suscripcion"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Deudas</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.deudas"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Otros</ion-label>
            <ion-checkbox [(ngModel)]="newCategoria.otros"></ion-checkbox>
        </ion-item>

        <ion-button (click)="guardarCategoria()" expand="block">
            Guardar
        </ion-button>
        
    </div>
</ion-content>
