.main_content_div {
    padding: 16px;
    padding-top: 60px;
    min-height: 100%;

    ion-label {
        display: block;
    }

    .welcome_lbl {
        font-size: 26px;
        font-family: 'semi-bold';
        margin-bottom: 30px;
    }
    .title_lbl {
        font-family: 'semi-bold';
        font-size: 16px;
        margin-top: 20px;
    }

    ion-item {
        --padding-start: 0px;
        margin-top: 16px;
    }

    ion-button {
        --border-radius: 3px;
        font-family: 'semi-bold';
        margin-top: 30px;
    }
}
