<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar style="--background: var(--ion-color-primary)">
        <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Notificaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--    De presupuesto-->
    <!--    *ngFor="let mensaje of mensajes"-->
    <div class="main_content_div" style="margin-bottom: 50px">
        <ion-label class="title_lbl">Todas las notificaciones</ion-label>
        <div class="notification_div" *ngIf="notificacionPresupuesto == true">
            <div class="round_div">
                <!--                *ngIf="mensaje.tipo == 'presupuesto'"-->
                <ion-icon name="code-download"></ion-icon>
                <!--                <ion-icon *ngIf="mensaje.tipo == 'logro'" name="medal-outline"></ion-icon>-->
                <!--                <ion-icon *ngIf="mensaje.tipo == 'informacion'" name="information-outline"></ion-icon>-->
                <!--                <ion-icon *ngIf="mensaje.tipo == 'recordatorio'" name="alarm-outline"></ion-icon>-->
                <!--                <ion-icon *ngIf="mensaje.tipo == 'alerta'" name="alert-circle-outline"></ion-icon>-->
            </div>
            <div class="content_div">
                <!--                <ion-label style="-->
                <!--            font-size: 13px;-->
                <!--            color: #77869E;-->
                <!--            font-family: 'regular';-->
                <!--            margin-bottom: 3px;">{{mensaje.fecha}}</ion-label>-->
                <ion-label >El presupuesto se ha excedido</ion-label>
                <!--                <ion-label>Exceso en: {{mensaje.tipo}}</ion-label>-->
            </div>
            <!--            <ion-buttons slot="end">-->
            <!--            <ion-button (click)="deleteNotificacion(mensaje)">-->
            <!--                <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>-->
            <!--            </ion-button>-->
            <!--        </ion-buttons>-->
        </div>



        <!--    De logros-->
            <div class="notification_div" *ngIf="notificacionLogro">
                <div class="round_div">
                    <ion-icon name="medal-outline"></ion-icon>
                </div>
                <div class="content_div">
                    <ion-label>Has desbloqueado un nuevo logro</ion-label>
                </div>
            </div>

        <!--    De informacion-->
        <div class="notification_div" *ngIf="notificacionInfo">
            <div class="round_div">
                <ion-icon name="information-outline"></ion-icon>
            </div>
            <div class="content_div">
                <ion-label>Se ha ingresado un movimiento de dinero fijo</ion-label>
            </div>
        </div>

            <!--        &lt;!&ndash;        De informacion&ndash;&gt;-->
            <!--        <div class="notification_div">-->
            <!--            <div class="round_div">-->
            <!--                <ion-icon name="information-outline"></ion-icon>-->
            <!--            </div>-->
            <!--            <div class="content_div">-->
            <!--                <ion-label></ion-label>-->
            <!--                <ion-label style="-->
            <!--            font-size: 13px;-->
            <!--            color: #77869E;-->
            <!--            font-family: 'regular';-->
            <!--            margin-bottom: 3px;">{{mensaje.fecha}}</ion-label>-->
            <!--                <ion-label>{{mensaje.descripcion}}</ion-label>-->
            <!--                &lt;!&ndash;                <ion-label>Exceso en: {{mensaje.tipo}}</ion-label>&ndash;&gt;-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        &lt;!&ndash;De alerta&ndash;&gt;-->
            <!--        <div class="notification_div" *ngFor="let mensaje of mensajes">-->
            <!--            <div class="round_div">-->
            <!--                <ion-icon name="code-download"></ion-icon>-->
            <!--            </div>-->
            <!--            <div class="content_div">-->
            <!--                <ion-label></ion-label>-->
            <!--                <ion-label style="-->
            <!--            font-size: 13px;-->
            <!--            color: #77869E;-->
            <!--            font-family: 'regular';-->
            <!--            margin-bottom: 3px;">{{mensaje.fecha}}</ion-label>-->
            <!--                <ion-label>{{mensaje.descripcion}}</ion-label>-->
            <!--                &lt;!&ndash;                <ion-label>Exceso en: {{mensaje.tipo}}</ion-label>&ndash;&gt;-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        &lt;!&ndash;De logro&ndash;&gt;-->
            <!--        <div class="notification_div" *ngFor="let mensaje of mensajes">-->
            <!--            <div class="round_div">-->
            <!--                <ion-icon name="code-download"></ion-icon>-->
            <!--            </div>-->
            <!--            <div class="content_div">-->
            <!--                <ion-label></ion-label>-->
            <!--                <ion-label style="-->
            <!--            font-size: 13px;-->
            <!--            color: #77869E;-->
            <!--            font-family: 'regular';-->
            <!--            margin-bottom: 3px;">{{mensaje.fecha}}</ion-label>-->
            <!--                <ion-label>{{mensaje.descripcion}}</ion-label>-->
            <!--                &lt;!&ndash;                <ion-label>Exceso en: {{mensaje.tipo}}</ion-label>&ndash;&gt;-->
            <!--            </div>-->
            <!--        </div>-->

            <!--        &lt;!&ndash;De recordatorio&ndash;&gt;-->
            <!--        <div class="notification_div" *ngFor="let mensaje of mensajes">-->
            <!--            <div class="round_div">-->
            <!--                <ion-icon name="code-download"></ion-icon>-->
            <!--            </div>-->
            <!--            <div class="content_div">-->
            <!--                <ion-label></ion-label>-->
            <!--                <ion-label style="-->
            <!--            font-size: 13px;-->
            <!--            color: #77869E;-->
            <!--            font-family: 'regular';-->
            <!--            margin-bottom: 3px;">{{mensaje.fecha}}</ion-label>-->
            <!--                <ion-label>{{mensaje.descripcion}}</ion-label>-->
            <!--                &lt;!&ndash;                <ion-label>Exceso en: {{mensaje.tipo}}</ion-label>&ndash;&gt;-->
            <!--            </div>-->
            <!--        </div>-->
        </div>
</ion-content>

