<ion-header mode="ios" class="ion-no-border">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="margin-bottom: 50px">
    <div class="main_container_div" style="margin-bottom: 50px">

        <ion-label class="title_lbl">Logros obtenidos: Mes de {{mesActual}}</ion-label>
        <ion-label *ngIf="labelEmpty" style="
          font-size: 16px;
          color: rgba(127,158,208,0.71);
          font-family: 'semi-bold';
          ">Aun no tienes logros.</ion-label>

        <br>
        <ion-label *ngIf="labelEmpty" style="
          font-size: 20px;
          color: rgba(65,124,255,0.86);
          font-family: 'semi-bold';
          text-align: center;
          ">¡Sigue esforzándote y alcanza tus objetivos!</ion-label>
        <img *ngIf="labelEmpty" src="assets/imgs/Investment data-rafiki.png">
        <br>

        <ion-slides *ngIf="conscienteSoy" style="width: 571px;" mode="ios" scrollbar="ios" [options]="slideOpts"
                    class="user_slider">
            <ion-slide>
                <div class="slide_div">
                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/ten.png)'"></div>
                    <br>
                    <ion-label class="ion-logro">Consciente soy</ion-label>
                    <ion-label class="username">Has ahorrado 10 dolares más que el mes anterior</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-slides *ngIf="avanzando" style="width: 571px;" mode="ios" scrollbar="ios" [options]="slideOpts"
                    class="user_slider">
            <ion-slide>
                <div class="slide_div">
                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/ten-minus.png)'"></div>
                    <br>
                    <div class="waviy">
                        <span style="--i:1">A</span>
                        <span style="--i:2">v</span>
                        <span style="--i:3">a</span>
                        <span style="--i:4">n</span>
                        <span style="--i:5">z</span>
                        <span style="--i:6">a</span>
                        <span style="--i:7">n</span>
                        <span style="--i:8">d</span>
                        <span style="--i:8">o</span>
                    </div>

                    <ion-label class="username">Has gastado 10 dólares menos en este mes</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-slides *ngIf="ahorrador" style="width: 571px;" mode="ios" scrollbar="ios" [options]="slideOpts"
                    class="user_slider">
            <ion-slide>
                <div class="slide_div">
                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/twenty.png)'"></div>
                    <br>
                    <div class='line'>
                        <h2 class='flipX'>AHORRADOR</h2>
                    </div>
                    <ion-label class="username">Has ahorrado 20 dólares más que el mes anterior</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-slides *ngIf="buenosHabitos" style="width: 571px;" mode="ios" scrollbar="ios" [options]="slideOpts"
                    class="user_slider">
            <ion-slide>
                <div class="slide_div">
                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/twenty-minus.png)'"></div>
                    <br>
                    <div class='line'>
                        <h2 class='pop-outin'>BUENOS HÁBITOS</h2>
                    </div>
                    <ion-label class="username">Has gastado 20 dólares menos este mes</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-slides *ngIf="bolsilloFeliz" id="logroBolsilloFeliz" style="width: 571px;" mode="ios" scrollbar="ios"
                    [options]="slideOpts">
            <ion-slide>
                <div class="slide_div">
                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/bill-feliz.png)'"></div>
                    <br>
                    <div class="box">
                        <p class="text">
                            <span class="l1">B</span><span class="l2">O</span><span class="l3">L</span><span
                                class="l4">S</span><span
                                class="l5">I</span><span class="l6">L</span><span class="l7">L</span><span
                                class="l8">O</span><span class="l9">&nbsp;</span> <span class="l10">F</span><span
                                class="l11">É</span><span class="l12">L</span>
                            <span class="l13">I</span><span class="l14">Z</span>
                        </p>
                    </div>
                    <ion-label class="username">No has sobrepasado el presupuesto recomendado en nunguna categoría.
                    </ion-label>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
