
ion-toolbar {
  --background: #F8F9F9;
}

ion-content {
  --background: #F8F9F9;
}

.main_container_div {
  padding: 16px;

  ion-label {
    display: block;
  }

  .flex_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-label {
      font-size: 13px;
      color: #77869E;
      font-family: 'regular';

      .bold_span {
        font-size: 20px;
        font-family: 'semi-bold';
        color: #042C5C;
      }

      .blue_span {
        color: #042C5C;
        font-family: 'semi-bold';
      }
    }

    img {
      width: 20px;
    }
  }

  .flex_div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;

    ion-label {
      font-size: 13px;
      font-family: 'semi-bold';
    }
  }

  .gradient_div {
    height: 5px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    background: linear-gradient(
                    to right,
                    #4DF1A1 0%,
                    #4DF1A1 60%,
                    #F24750 50%,
                    #F24750 100%
    );
  }

  .card_slider {
    margin-top: 20px;
    margin-bottom: 20px;

    ion-slide {
      margin-right: 16px;
    }

    .card_div {
      width: 100%;
      height: 180px;
      border-radius: 10px;
      background: var(--ion-color-primary);
      position: relative;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      img {
        width: 60px;
      }

      .card_no {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .flex_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        ion-label {
          color: white;
          font-size: 16px;
          letter-spacing: 0.6px;
        }
      }

      .bottom_abs {
        width: 260px;
        height: 200px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
        border-radius: 100%;
        position: absolute;
        bottom: -145px;
      }

      .side_abs {
        width: 200px;
        height: 243px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
        border-radius: 100%;
        position: absolute;
        right: -80px;
        top: -25px;
        transform: rotate(45deg);
      }
    }
  }

  ion-grid {
    padding: 0px;

    .grid_flex {
      display: flex;

      .color_div {
        height: 45px;
        width: 45px;
        min-width: 45px;
        border-radius: 5px;
        position: relative;

        ion-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 25px;
        }
      }

      .content_flex {
        padding-left: 16px;

        .grey_lbl {
          font-size: 13px;
          color: rgba(132, 159, 204, 0.85);
          font-family: 'semi-bold';
        }
        .grey_lbl_ {
          font-size: 13px;
          color: rgba(132, 159, 204, 0.85);
          font-family: 'semi-bold';
        }

        .price {
          font-family: 'semi-bold';
        }
      }
    }
  }

  .title_lbl {
    font-size: 20px;
    font-family: 'semi-bold';
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .user_slider {
    padding-bottom: 10px;
  }

  ion-slide {
    margin-right: 16px;

    .slide_div {
      background: white;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      width: 100%;

      @keyframes stretch {
        0% {
          transform: scale(.5);
          background-color: green;
          border-radius: 100%;
        }}
      .back_image {
        animation-name: stretch;
        animation-duration: 1.4s;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-play-state: running;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

      }

    }

    ion-label {
      color: #77869E;
      font-size: 13px;
      margin-top: 10px;
      font-family: 'medium';
    }

    .ion-logro {
      animation: color-animation 4s linear infinite;
      --color-1: #DF8453;
      --color-2: #3D8DAE;
      --color-3: #E4A9A8;
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
      text-align: center;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      position: relative;
      z-index: 2;
      font-size: 25px;
      color: #e0dfdc;
    }
    @keyframes color-animation {
      0%    {color: var(--color-1)}
      33%   {color: var(--color-2)}
      66%   {color: var(--color-3)}
      100%  {color: var(--color-1)}
    }
    .waviy {
      position: relative;
    }
    .waviy span {
      position: relative;
      display: inline-block;
      font-size: 20px;
      color: #000;
      text-transform: uppercase;
      animation: flip 3s 5;
      animation-delay: calc(.2s * var(--i))
    }
    @keyframes flip {
      0%,80% {
        transform: rotateY(360deg)
      }
    }
    .line {
      width: 100%;
      height: 3rem;
      overflow: hidden;
      padding: 0;
      margin-bottom: 16px;
    }
    .pop-outin {
      animation: 2s anim-popoutin ease 5;
    }

    @keyframes anim-popoutin {
      0% {
        color: black;
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
      25% {
        color: red;
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
      }
      50% {
        color: black;
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        /* animate nothing to add pause at the end of animation */
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
      }
    }
    .flipX {
      animation: 2s anim-flipX ease 5;
    }
    @keyframes anim-flipX {
      0% {
        opacity: 0;
        transform: rotateX(90def);
      }
      50% {
        opacity: 1;
        transform: rotateX(720deg);
      }
      100% {
        /* animate nothing to pause animation at the end */
        opacity: 1;
        transform: rotateX(720deg);
      }
    }

    .box {
      height: 10vh;
      width: 97%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1D1F20;
      box-shadow: 0 0 3px #eee;
      border-radius: 4px;
    }

    .text {
      font-size: 24px;
      font-family: sans-serif;
      color: #aaa;
    }


    span[class^="l"] {
      transition: all 0.3s ease-in-out;
    }


    .l1 {
      animation: 2.4s letter ease-in-out 5;
    }

    .l2 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.2s;
    }

    .l3 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.4s;
    }

    .l4 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.6s;
    }

    .l5 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.6s;
    }

    .l6 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.4s;
    }

    .l7 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.2s;
    }

    .l8 {
      animation: 2.4s letter ease-in-out 5;
    }

    .l9 {
      animation: 2.4s letter ease-in-out 5;

    }

    .l10 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.2s;
    }

    .l11 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.4s;
    }

    .l12 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.6s;
    }

    .l13 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.6s;
    }
    .l14 {
      animation: 2.4s letter ease-in-out 5;
      animation-delay: 0.4s;
    }



    @keyframes letter {
      0% {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
      }
      50% {
        font-size: 24px;
        color: #eee;
        padding-right: 4px;
        padding-left: 4px;
      }
      100% {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .username {
      word-wrap: break-word;
    }
  }
}

.btn_flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;

  .small_btn {
    width: 70px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    ion-label {
      text-align: center;
      font-size: 13px;
      color: #77869E;
      font-family: 'semi-bold';
    }
  }

  .active {
    background: #DFE7F5;

    ion-label {
      color: var(--ion-color-primary);
    }
  }
}

.shopping_div {
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  .color_box {
    height: 55px;
    width: 55px;
    min-width: 55px;
    border-radius: 10px;
    position: relative;
    // background: #ccc;

    img {
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .content_div {
    padding-left: 16px;

    .name {
      font-size: 16px;
      font-family: 'semi-bold';
      margin-bottom: 5px;
    }

    .date {
      font-size: 13px;
      color: #77869E;
      font-family: 'regular';
    }
  }

  .price {
    position: absolute;
    right: 20px;
    color: #EE5A55;
    font-family: 'semi-bold';
  }
}
