<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <div class="slide">
                <img src="./assets/imgs/Investing-pana.png" />
                <h1 >Bienvenido</h1>
                <p>
                    Estás en la aplicación creada <br>para el completo control de tus finanzas y hábitos financieros. <strong>¡Iniciemos el tour!</strong>
                </p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="./assets/imgs/Top up credit-bro.png" />
            <h2>Ingresos</h2>
            <p>
                Consulte su saldo disponible para gastos, tenga un plan para ahorrar en base a sus ingresos,
                agregue ingresos fijos mensuales y obtenga logros por la consecución de nuevos objetivos.
            </p>
        </ion-slide>
        <ion-slide>
            <img src="./assets/imgs/Top up credit-rafiki.png" />
            <h2>Control de gastos</h2>
            <p>
                Realice un profundo control de sus gastos para ahorrarse problemas que causa la falta de dinero, sean
                endeudamientos, discuciones, baja calidad de vida y más.
            </p>
        </ion-slide>
        <ion-slide>
            <img src="./assets/imgs/Investment data-amico.png" />
            <h2>Comparación de movimientos<br>entre meses</h2>
            <p>
                Consulte cuanto a avanzado en su nivel financiero haciendo consultas por mes
            </p>
        </ion-slide>

        <ion-slide>
            <img src="./assets/imgs/App monetization-pana.png" />
            <h2>¿Listo para empezar?</h2>
            <ion-button fill="clear" routerLink="/register"
            >Sí, vamos<ion-icon slot="end" name="arrow-forward"></ion-icon
            ></ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>
