<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Paz financiera, ¿Cómo alcanzarla?</ion-label>
        <br><br>
        <iframe width="100%" height="40%" src="https://www.youtube.com/embed/4Mii6gso1xI" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <p>Alcanzar la libertad financiera significa contar con los suficientes ahorros, inversiones y control del
            dinero para tener una vida tranquila; es decir, en donde exista la posibilidad de cubrir los gastos
            necesarios para vivir y, aquellos que no son esenciales pero que brindan satisfacción y esparcimiento como
            viajar, aprender algo nuevo o comprar nuevas cosas.</p>
        <br>

        <h4>Los objetivos financieros</h4>
        <p>Todos tenemos sueños acerca de lo que queremos conseguir en la vida y gran parte de estos sueños tienen un
            componente económico. Tus sueños solo existen en tu cabeza. Los objetivos, en cambio, son metas concretas
            con acciones que tomar para convertir los sueños en realidad. Los sueños son el destino, pero los objetivos
            son el mapa o GPS necesario para poder llegar. Saber establecer y priorizar objetivos y seguir las acciones
            definidas para lograrlos es la clave del éxito financiero.</p>

        <p><strong><q>Poder viajar</q></strong> es un sueño.</p>

        <p>Un objetivo financiero debe ser inteligente. Es decir, “SMART”.</p>

        <img src="assets/imgs/objetivos-financieros.png">

        <h4>Específicos:</h4>
        <p>Tener una meta clara y concreta te motivará más a conseguirla. Por ejemplo, no pienses en
            viajar como algo general. Piensa en todo lo que quieres ver y hacer durante tu estancia en
            Perú. Medibles (o Monetarios): Tienes que fijar un importe concreto como objetivo para
            calcular cuánto tienes que ahorrar cada mes/semana. Así podrás planificar qué necesitarás
            hacer para alcanzar este ahorro.</p>


        <h4>Alcanzables:</h4>
        <p>Ahorrar un millón de dólares antes de fin de mes no es un objetivo, sino una fantasía. Establecer
            objetivos poco realistas solo te desmotivará</p>

        <h4>Relevantes:</h4>
        <p>Asegúrate de establecer objetivos que realmente sean importantes para ti, acordes con tus
            propios valores e intereses. Recuerda que los objetivos sirven para realizar TUS sueños.
            Piensa en las razones que tienes para lograr el objetivo.</p>

        <h4>Temporales:</h4>
        <p>De la misma forma que hay que fijar un importe, hace falta especificar una fecha tope para el
            logro del objetivo. El tiempo y el importe permiten saber las acciones concretas que tomar (por
            ejemplo, cuánto hay que ahorrar cada mes) para alcanzarlo</p>

        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/mnmwKnTd4tE" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <h4>El fondo de emergencia</h4>
        <p>Los electrodomésticos se estropean, los coches se averían, las personas pueden tener
            accidentes, divorciarse, enfermar o perder sus trabajos. No podemos evitar que lleguen
            momentos difíciles. Pero un fondo de emergencia sirve para paliar la situación e impedir el
            descarrilamiento de nuestros planes. Sin un fondo de dinero apartado para imprevistos, lo
            normal es tener que recurrir a opciones más costosas:</p><br>

            <li>Pedir un préstamo o pagar con tarjeta de crédito. Esta opción, que aumentará los
                intereses y gastos mensuales a pagar.</li> <br>
            <li>Utilizar los ahorros que ya tenemos.</li><br><br>

        <img src="assets/imgs/fondo-emergencia.png">
        <p>Se recomienda constituir una reserva de dinero equivalente a entre tres y seis meses de
            gastos, para afrontar imprevistos y como protección en caso de una pérdida de ingresos por
            cualquier motivo</p>
    </div>
</ion-content>
