ion-slides {
    height: 100%;
}
.swiper-slide {
    display: block;
}
.swiper-slide h2 {
    margin-top: 2.8rem;
}
.swiper-slide img {
    max-height: 77%;
    max-width: 77%;
    margin: 60px 0 40px;
    pointer-events: none;

}
//this.content.addCssClass("scroll"){
//}

//.scroll { overflow-y: scroll; }



p {
    padding: 0 40px;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
}
h1 {
    padding: 0 40px;
    text-align: left;
    line-height: 1.5;
}
