<ion-content>
    <ion-slides pager="true">
        <ion-slide style="overflow-y: scroll">
            <div class="slide">
                <img src="./assets/imgs/Mobile apps-bro.png"/>
                <h1 style="text-align: center">¡Que gusto tenerle aquí!</h1>
                <p>
                    Vamos a realizar un recorrido rápido por las funciones de la aplicación para que le saque el máximo
                    provecho posible.<br><br> <strong>Deslice para continuar →</strong>
                </p>
            </div>
            <br><br>
        </ion-slide>

        <ion-slide style="overflow-y: scroll">
            <img src="./assets/imgs/Calendar-rafiki.png"/>
            <h2>Gestión por mes</h2>
            <p style="text-align: left">
                La gestión de los movimientos financieros se renueva mensualmente, pero es accesible en
                cualquier momento desde las pestañas de control de movimientos.
            </p>
            <br><br>
        </ion-slide>
        <ion-slide style="overflow-y: scroll">
            <img style="
    max-height: 100%;
    max-width: 100%;
    margin: 50px 0 40px;
    pointer-events: none;
" src="./assets/imgs/vista-home1.png"/>
            <h2>Inicio</h2>
            <p style="text-align: left">
                Agregue gastos e ingresos de dinero para comenzar. Los gastos fijos e ingresos fijos se agregan
                automáticamente
                a la contabilidad cada mes.
            </p>
            <br><br>
        </ion-slide>

        <ion-slide style="overflow-y: scroll">
            <img style="
    max-height: 100%;
    max-width: 100%;
    margin: 50px 0 40px;
    pointer-events: none;
" src="./assets/imgs/vista-home2.png"/>
            <h2>Control de presupuesto por categorías</h2>
            <p style="text-align: justify">
                Gaste solo lo justo en base a sus ingresos mensuales con cálculos automáticos de presupuesto recomendado
                para cada
                categoría.
            </p>
            <br><br>
        </ion-slide>

        <ion-slide style="overflow-y: scroll">
            <img style="
    max-height: 100%;
    max-width: 100%;
    margin: 50px 0 40px;
    pointer-events: none;
" src="./assets/imgs/logros.png"/>
            <h2>Logros</h2>
            <p>
                Motívese a alcanzar hábitos financieros saludables con la consecución de logros como en un juego
            </p>
            <br><br>
        </ion-slide>

        <ion-slide style="overflow-y: scroll">
            <img style="
    max-height: 100%;
    max-width: 100%;
    margin: 50px 0 40px;
    pointer-events: none;
" src="./assets/imgs/grafica.png"/>
            <h2>Gráfica</h2>
            <p>
                Vea y compare los movimientos de dinero que ha realizado a lo largo del tiempo.
            </p>
            <br><br>
        </ion-slide>

        <ion-slide style="overflow-y: scroll">
            <img style="
    max-height: 100%;
    max-width: 100%;
    margin: 50px 0 40px;
    pointer-events: none;
" src="./assets/imgs/notifications.png"/>
            <h2>Notificaciones</h2>
            <p>
                No pierda de vista sus movimientos de dinero y revise si se está sobrepasando en algún aspecto.
            </p>
            <br><br>
        </ion-slide>

        <ion-slide style="overflow-y: scroll; margin-bottom: 20px">
            <img src="./assets/imgs/Launching-amico.png"/>
            <h2>Estamos listos</h2>
            <p>
                Por último, configure las categorias de gasto con las que va a trabajar
            </p>
            <ion-button fill="clear" routerLink="/tabs"> Entrar
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button><br><br><br><br>
        </ion-slide>
        <br><br>
    </ion-slides>
</ion-content>
