<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Agregar gasto fijo</ion-label>

        <div>
            <ion-button class="normal" (click)="nuevoEg()">Nuevo gasto fijo</ion-button>
        </div>

        <!--                <ion-label class="welcome_lbl">Agregar gasto fijo</ion-label>-->

<!--                <div>-->
<!--                    <ion-button class="normal" (click)="nuevoEg()"-->
<!--                    [ngClass]="{notSelected: typeFrecuencia == 'null'}">-->
<!--                    Nuevo gasto fijo</ion-button>-->
<!--                </div>-->

<!--                <ion-label class="title_lbl">Frecuencia del gasto</ion-label>-->

<!--                <ion-slides mode="ios" scrollbar="ios" [options]="slideOpts" class="user_slider">-->
<!--                    <ion-slide (click)="selecfrecuencia('diario')">-->
<!--                        <div class="slide_div"-->
<!--                            [ngClass]="{selected: typeFrecuencia == 'diario'}">-->
<!--                            <div class="back_image" [style.backgroundImage]="'url(assets/imgs/icons8-expensive-96.png)'"></div>-->
<!--                            <ion-label class="username">Gasto <br> diario</ion-label>-->
<!--                        </div>-->
<!--                    </ion-slide>-->
<!--                    <ion-slide (click)="selecfrecuencia('semanal')">-->
<!--                        <div class="slide_div"-->
<!--                        [ngClass]="{selected: typeFrecuencia == 'semanal'}">-->
<!--                            <div class="back_image" [style.backgroundImage]="'url(assets/imgs/icons8-expensive-price-96.png)'"></div>-->
<!--                            <ion-label class="username">Gasto <br> semanal</ion-label>-->
<!--                        </div>-->
<!--                    </ion-slide>-->
<!--                    <ion-slide (click)="selecfrecuencia('mensual')">-->
<!--                        <div class="slide_div"-->
<!--                             [ngClass]="{selected: typeFrecuencia == 'mensual'}">-->
<!--                            <div class="back_image" [style.backgroundImage]="'url(assets/imgs/icons8-cash-64.png)'"></div>-->
<!--                            <ion-label class="username">Gasto <br> mensual</ion-label>-->
<!--                        </div>-->
<!--                    </ion-slide>-->
<!--                </ion-slides>-->

<!--                <div [style.backgroundImage]="'url(assets/imgs/users/user12.jpg)'" class="user_back"></div>-->

<!--                <ion-select value="frecuenciaGasto" [(ngModel)]="newGasto.pago_servicios" placeholder="Seleccione una opcion">-->
<!--                    <ion-select-option value="Pago de luz">Pago de luz</ion-select-option>-->
<!--                    <ion-select-option value="Pago de agua">Pago de agua</ion-select-option>-->
<!--                    <ion-select-option value="Pago de internet">Pago de internet</ion-select-option>-->

        <ion-label class="title_lbl">Tipo de gasto</ion-label>
        <ion-select required value="gastosMensuales" [(ngModel)]="newGastoFijo.categoria"
                    placeholder="Seleccione una opcion">
            <ion-select-option value="Hogar">Hogar</ion-select-option>
            <ion-select-option value="Comida">Comida</ion-select-option>
            <ion-select-option value="Educación">Educación</ion-select-option>
            <ion-select-option value="Compras">Compras</ion-select-option>
            <ion-select-option value="Transporte">Transporte</ion-select-option>
            <ion-select-option value="Entretenimiento">Entretenimiento</ion-select-option>
            <ion-select-option value="Mascotas">Mascotas</ion-select-option>
            <ion-select-option value="Suscripción">Suscripción</ion-select-option>
            <ion-select-option value="Deudas">Deudas</ion-select-option>
            <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>

        <ion-label class="title_lbl">Detalles del gasto</ion-label>

        <ion-item>
            <ion-label position="floating">Monto fijo</ion-label>
            <ion-input type="number" [(ngModel)]="newGastoFijo.monto_gasto" required="true"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Descripción del gasto</ion-label>
            <ion-input [(ngModel)]="newGastoFijo.descripcion_gasto" required="true"></ion-input>
        </ion-item>

        <!--Se puede guardar este boton dentro del div siguiente para que no se muestre-->
        <ion-button (click)="guardarGastos()" expand="block">
            Guardar
        </ion-button>

        <ion-label class="title_lbl" *ngIf="getGasto">Gastos fijos activos:</ion-label>

    </div>

    <!--    <div *ngIf="enableNewGasto">-->
    <ion-item *ngFor="let gasto of gastos">
        <ion-label>
            <ion-label style="
            font-size: 13px;
            color: #77869E;
            font-family: 'regular';
            margin-bottom: 3px;">{{gasto.categoria}}
            </ion-label>
            {{gasto.descripcion_gasto}} - ${{gasto.monto_gasto}}
        </ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="newGastoFijo = gasto">
                <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteGasto(gasto)">
                <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <!--    </div>-->

</ion-content>
