<ion-content>
  <div class="main_content_div" style="margin-bottom: 50px">

      <div class="gradient_div">
          <div class="abs_round"></div>
          <div class="flex_header">
              <ion-label>Perfil</ion-label>
<!--              <img src="assets/imgs/edit.png">-->
          </div>
      </div>

      <div class="container_div">
          <div class="white_box">
              
<!--              <div [style.backgroundImage]="'url(assets/imgs/users/user12.jpg)'" class="user_back"></div>-->

              <div class="flex_div" *ngIf="info">
                  <ion-label>{{info.usuario}} {{info.edad}} años</ion-label>
<!--                  <img src="assets/imgs/verified.png">-->
              </div>
              <ion-label class="grey_lbl">{{info.correo}}</ion-label>

              <div class="grey_box">
                  <img src="assets/imgs/badge_1.png">
                  <img src="assets/imgs/badge_2.png">
                  <img src="assets/imgs/badge_3.png">
                  <img src="assets/imgs/badge_4.png">
              </div>

          </div>

          <ion-label class="title_lbl">GENERAL</ion-label>
            
          <div class="shopping_div"  routerLink="/edit-profile">
              <div class="color_box">
                  <img src="assets/imgs/settings.png">
              </div>
              <div class="content_div">
                  <ion-label class="name">Opciones del perfil</ion-label>
                  <ion-label class="date">Actualiza y modifica tus datos</ion-label>
              </div>
              <ion-icon name="chevron-forward-sharp"></ion-icon>
          </div>

          <div class="shopping_div" routerLink='/configuracion-gastos'>
              <div class="color_box">
                  <img src="assets/imgs/privacy.png">
              </div>
              <div class="content_div">
                  <ion-label class="name">Configuración de gastos</ion-label>
                  <ion-label class="date">Añade o quita categorias de gasto para <br>
                      que no se reflejen en la contabilidad</ion-label>
              </div>
              <ion-icon name="chevron-forward-sharp"></ion-icon>
          </div>
      </div>
  </div>
</ion-content>
