<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Acciones para alcanzar hábitos financieros saludables</ion-label>
        <br><br>
        <iframe width="100%" height="40%" src="https://www.youtube.com/embed/wx7bgwtNrXI" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <p>Un hábito es una acción que se realiza de forma natural hasta el punto de convertirse en algo espontáneo, es
            decir, supone cambiar de conducta y esto no siempre resulta fácil. La mejor forma de lograrlo es mediante la
            constancia y convicción que la acción que estamos intentando interiorizar será beneficiosa para nuestra
            vida.
            Las finanzas personales también se basan en hábitos, por eso Saber Más, Ser Más le presenta 8 hábitos
            financieros positivos que mejorarán sus finanzas personales:</p>

        <h4>Presupuestar</h4>
        <p>llevar una relación clara de cuánto dinero entra a su hogar y cuánto sale es una práctica que le permitirá
            mejorar el uso de sus recursos. Puede clasificar sus gastos en categorías como educación, vivienda,
            diversión y transporte, entre otros.</p>

        <h4>Ahorrar</h4>
        <p>guarde una parte de sus ingresos para el futuro, así podrá hacer frente a las eventualidades, invertir en sus
            proyectos o darse esos gusticos que merece sin tener que pedir prestado.
        </p>

        <h4>Salir de deudas</h4>
        <p>Siempre que tenga un ingreso extra priorice el pago de sus obligaciones; el pagar cuotas de su tarjetas de
            crédito, créditos de vivienda, vehículo o estudio, le permitirá ahorrar dinero en intereses.</p>

        <h4>Invertir</h4>
        <p>Es una excelente forma de obtener más rendimiento por su dinero, eso sí, sometiéndolo a más riesgo. Antes de
            tomar la decisión sobre algún tipo de inversion considere aspectos fundamentales como: plazo, rendimiento
            esperado, riesgo, información sobre el modelo de inversión, entre otros.
        </p>


        <h4>Planificar</h4>
        <p>En la mayoría de casos podemos identificar ingresos y gastos que se aproximan, bien sean en el corto plazo,
            tales como las primas laborales o los regalos navideños; o en el largo plazo, como la jubilación. Tenga en
            cuenta estos momentos a la hora de realizar su plan financiero, no deje nada al azar o para última hora.</p>

        <h4>Pagar con tiempo</h4>
        <p>Ser ‘buena paga’ es su mejor carta de presentación en el sistema financiero, no deje el pago de sus recibos
            públicos o privados para el último día, este hábito lo hace más propenso a entrar en mora o atrasarse con
            sus obligaciones.</p>

        <h4>Proteger</h4>
        <p>nadie tiene el futuro comprado, busque mecanismos que le ayuden a minimizar los impactos económicos de
            situaciones fortuitas como terremotos, accidentes de tránsito o una enfermedad. Recuerde siempre tener un
            fondo de emergencias o en su defecto, trate de adquirir un seguro para estos momentos de dificultad.</p>

        <h4>Formarse en educación financiera</h4>
        <p>este conocimiento le permitirá empoderarse de su relación con el sistema financiero y entender cómo este
            puede apoyarlo en la consecución de sus objetivos. Saber más, ser más, lo ayuda en esta misión con diversos
            cursos que le ayudaran a mejorar sus finanzas.</p>

    </div>
</ion-content>
