<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <div class="main_container_div" style="margin-bottom: 50px">

        <div class="flex_header">
            <ion-label>Gráfica de transacciones</ion-label>
<!--            <img src="assets/imgs/expense.png">-->
        </div>
        <ion-label>Mes de {{mesActual}}</ion-label>


        <div class="flex_div">
            <div class="left_div">
                <ion-label class="simple_lbl">Saldo</ion-label>
                <ion-label class="price">${{sumaTotalIngresos - sumaTotalGastos}}</ion-label>
            </div>
            
            <div class="right_div">
                <div style="display: flex;align-items: center;margin-bottom: 10px;">
                    <div class="color_div" style="background-color: rgba(41, 191, 118, 0.2);" >
                        <ion-icon name="arrow-up-sharp" style="color: #1BC773;font-size: 16px;"></ion-icon>
                    </div>
                    <ion-label style="color: #1BC773">Ingresos</ion-label>
                </div>
                <div style="display: flex;align-items: center;margin-top: 10px;">
                    <div class="color_div" style="background-color: rgba(242, 71, 80, 0.2);">
                        <ion-icon name="arrow-down-sharp" style="color: #F24750;font-size: 16px;"></ion-icon>
                    </div>
                    <ion-label style="color: #F24750">Gastos</ion-label>
                </div>
            </div>
        </div>

        <div class="month_div">
            <!--            <div class="popover_div">-->
            <!--                <ion-label>Mensual</ion-label>-->
            <!--                <ion-icon name="chevron-down-outline"></ion-icon>-->
            <!--            </div>-->
            <div class="month_list">

                <ion-button color="light" class="small_btnc" (click)="operarMes(this.tabID)">Mes actual</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(0)">Ene</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(1)">Feb</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(2)">Mar</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(3)">Abr</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(4)">May</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(5)">Jun</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(6)">Jul</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(7)">Ago</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(8)">Sep</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(9)">Oct</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(10)">Nov</ion-button>
                <ion-button color="light" class="small_btnc" (click)="operarMes(11)">Dic</ion-button>

            </div>
        </div>

        <div>
            <canvas baseChart style="width: 100%;" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
<!--        <ion-button (click)="homeComu()">Mandar n to home</ion-button>-->

    </div>
</ion-content>
