<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon> Atrás
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <ion-label class="welcome_lbl">Agregar ingreso de dinero</ion-label>

        <div>
            <ion-button class="normal" (click)="nuevoIn()">Nuevo ingreso</ion-button>
        </div>

        <ion-label class="title_lbl">Tipo de ingreso</ion-label>
        <ion-select required value="gastosMensuales" [(ngModel)]="newIngreso.categoria" placeholder="Seleccione una categoría">
            <ion-select-option value="Salario">Salario</ion-select-option>
            <ion-select-option value="Ingresos extra">Ingresos extra</ion-select-option>
            <ion-select-option value="Devolución">Devolución</ion-select-option>
            <ion-select-option value="Regalo">Regalo</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>

        <ion-label class="title_lbl">Detalles del ingreso</ion-label>

        <ion-item>
            <ion-label position="floating">Monto</ion-label>
            <ion-input type="number" [(ngModel)]="newIngreso.monto_ingreso"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Descripción del ingreso</ion-label>
            <ion-input [(ngModel)]="newIngreso.descripcion_ingreso"></ion-input>
        </ion-item>

        <ion-button (click)="guardarIngresos()" expand="block">
            Guardar
        </ion-button><br>
        <ion-label class="title_lbl" *ngIf="ingresos">Ingresos obtenidos:</ion-label>
    </div>

    <ion-item *ngFor="let ingreso of orden">
        <ion-label>
            <ion-label style="
            font-size: 13px;
            color: #77869E;
            font-family: 'regular';
            margin-bottom: 3px;">
                {{ingreso.fecha | date:'medium'}}
            </ion-label>
            {{ingreso.categoria}} - {{ingreso.descripcion_ingreso}} <br>
            ${{ingreso.monto_ingreso}}
        </ion-label>
        <br>
        <ion-buttons slot="end">
            <ion-button (click)="newIngreso = ingreso">
                <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteIngreso(ingreso)">
                <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>


</ion-content>
