<!--(ionTabsWillChange)="tabChange($event)"-->
<ion-content>
    <ion-router-outlet>
            <ion-tabs>
                <ion-fab vertical="bottom" (click)="home()" horizontal="center" translucent="true">
                    <ion-fab-button>
                        <img src="assets/imgs/add.png" style="width: 21px;">
                    </ion-fab-button>
                </ion-fab>

                <ion-tab-bar slot="bottom" class="ion-no-border">
                    <ion-tab-button (click)="goToGrafica()">
                        <ion-icon name="bar-chart"></ion-icon>
                        <ion-label>Gráfica</ion-label>
                    </ion-tab-button>

                    <!--    mandar parametro con servicio, crear servicio, y enviar por servicio , mes eleg serv, -->
                    <ion-tab-button (click)="goToLogros()">
                        <ion-icon name="wallet"></ion-icon>
                        <ion-label>Logros</ion-label>
                    </ion-tab-button>


                    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red"
                              fill-rule="evenodd">
                        </path>
                    </svg>

                    <ion-tab-button (click)="goToNotific()">
                        <ion-icon name="notifications"></ion-icon>
                        <ion-label>Notificaciones</ion-label>
                    </ion-tab-button>

                    <ion-tab-button (click)="goToProfile()">
                        <ion-icon name="person-circle"></ion-icon>
                        <ion-label>Perfil</ion-label>
                    </ion-tab-button>

                    <!-- <ion-tab-button tab="home">
                      <ion-icon name="home"></ion-icon>
                      <ion-label>Home</ion-label>
                    </ion-tab-button> -->
                </ion-tab-bar>
            </ion-tabs>
    </ion-router-outlet>
</ion-content>
