<ion-content>
    <div class="main_content_div">

        <ion-label class="welcome_lbl">Iniciar sesion</ion-label>

<!--        <ion-grid fixed>-->
<!--            -->
<!--&lt;!&ndash;            Botones de Google y Facebook para inicio de sesion&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-row>&ndash;&gt;-->
<!--&lt;!&ndash;                <ion-col size="6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="btn_div">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img src="assets/imgs/facebook.png">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </ion-col>&ndash;&gt;-->
<!--&lt;!&ndash;                <ion-col size="6">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="btn_div">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img src="assets/imgs/google.png">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </ion-col>&ndash;&gt;-->
<!--&lt;!&ndash;            </ion-row>&ndash;&gt;-->
<!--            -->
<!--        </ion-grid>-->

        <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input  [(ngModel)]="correo" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"  [minlength]="6" [(ngModel)]="password"></ion-input>
        </ion-item>

<!--        <div class="flex_div">-->
<!--            <div class="check_flex">-->
<!--                <ion-checkbox></ion-checkbox>-->
<!--                <ion-label>Remember me</ion-label>-->
<!--            </div>-->
<!--            <ion-label class="flex_lbl" (click)="goToForgot()">Forgot password ?</ion-label>-->
<!--        </div>-->
<br>

        <ion-label *ngIf="incorrectCreed" style="color: red">Correo o contraseña incorrecto</ion-label>

        <ion-button expand="block" (click)="login()">
            Ingresar
        </ion-button>

        <ion-label class="last_lbl">¿No tienes una cuenta? <span (click)="goToRegister()">Registrarse</span></ion-label>

    </div>

</ion-content>
