<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon> Atrás
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <ion-label class="welcome_lbl">Agregar gasto de dinero</ion-label>

<!--        [ngClass]="{notSelected: typeFrecuencia == 'null'}"-->
        <div>
            <ion-button class="normal" (click)="nuevoEg()">
                Nuevo gasto
            </ion-button>
        </div>

        <!--        <div [style.backgroundImage]="'url(assets/imgs/users/user12.jpg)'" class="user_back"></div>-->

        <!--        <ion-select value="frecuenciaGasto" [(ngModel)]="newGasto.pago_servicios" placeholder="Seleccione una opcion">-->
        <!--            <ion-select-option value="Pago de luz">Pago de luz</ion-select-option>-->
        <!--            <ion-select-option value="Pago de agua">Pago de agua</ion-select-option>-->
        <!--            <ion-select-option value="Pago de internet">Pago de internet</ion-select-option>-->


        <ion-label class="title_lbl">Tipo de gasto</ion-label>
        <div *ngFor="let categoria of categorias">
            <ion-select *ngIf="categoria.id == 'categorias'" required value="gastosMensuales" placeholder="Seleccione una categoría"
            [(ngModel)]="newGasto.categoria">
<!--                        *ngFor="let categoria of categorias"-->
                <ion-select-option *ngIf="categoria.hogar" value="Hogar">Hogar</ion-select-option>
                <ion-select-option *ngIf="categoria.comida" value="Comida">Comida</ion-select-option>
                <ion-select-option *ngIf="categoria.educacion" value="Educación">Educación</ion-select-option>
                <ion-select-option *ngIf="categoria.compras" value="Compras">Compras</ion-select-option>
                <ion-select-option *ngIf="categoria.transporte" value="Transporte">Transporte</ion-select-option>
                <ion-select-option *ngIf="categoria.entretenimiento" value="Entretenimiento">Entretenimiento</ion-select-option>
                <ion-select-option *ngIf="categoria.mascotas" value="Mascotas">Mascotas</ion-select-option>
                <ion-select-option *ngIf="categoria.suscripcion" value="Suscripción">Suscripción</ion-select-option>
                <ion-select-option *ngIf="categoria.deudas" value="Deudas">Deudas</ion-select-option>
                <ion-select-option *ngIf="categoria.otros" value="Otros">Otros</ion-select-option>
            </ion-select>
        </div>

        <ion-label class="title_lbl">Detalles del gasto</ion-label>

        <ion-item>
            <ion-label position="floating">Monto</ion-label>
            <ion-input type="number" [(ngModel)]="newGasto.monto_gasto" required="true"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Descripción del gasto</ion-label>
            <ion-input [(ngModel)]="newGasto.descripcion_gasto" required="true"></ion-input>
        </ion-item>

        <!--Se puede guardar este boton dentro del div siguiente para que no se muestre-->
        <ion-button (click)="guardarGastos()" expand="block">
            Guardar
        </ion-button>
        <br>
        <ion-label class="title_lbl" *ngIf="gastos">Gastos realizados:</ion-label>
    </div>


    <!--    <div *ngIf="enableNewGasto">-->
    <ion-item *ngFor="let gasto of orden">
        <ion-label>
            <ion-label style="
            font-size: 13px;
            color: #77869E;
            font-family: 'regular';
            margin-bottom: 3px;">
            {{gasto.fecha | date:'medium'}}
            </ion-label>
            {{gasto.categoria}} - {{gasto.descripcion_gasto}} <br>
            ${{gasto.monto_gasto}}
        </ion-label>
        <br>
        <ion-buttons slot="end">
            <ion-button (click)="newGasto = gasto">
                <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteGasto(gasto)">
                <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <!--    </div>-->

</ion-content>
