<ion-app>

    <style>
        .nav {
            /*height: var(--nav-height);*/
            /*height: auto;*/
            position: fixed;
            right: 0;
            top: 0;
            color: #a0a0a0;
            margin-left: auto;
            margin-right: 0;
            display: flex;
            align-items: end;
        }
    </style>

    <!--    <ion-buttons style="color: #ffffff" slot="end">-->
    <!--        <ion-menu-toggle>-->
    <!--            <ion-menu-button slot="end">Menu</ion-menu-button>-->
    <!--        </ion-menu-toggle>-->
    <!--    </ion-buttons>-->


            <!--                <ion-icon id="menu" (click)="notShow()" name="trash"></ion-icon>-->

<!--            <img id="icon" (click)="notShow()" *ngIf="isVisible == true" style="display: inline-block; position: center"-->
<!--                 src="assets/imgs/icons8-xbox-menu-40.png">-->

            <!--                <img slot="end" src="assets/imgs/icons8-xbox-menu-40.png">-->

<!--    <ion-buttons class="nav">-->
<!--        <ion-menu-button style="color: #B2BEB5"></ion-menu-button>-->
<!--    </ion-buttons>-->

    <!--No se recononoce en menu si esta en home page-->
    <ion-split-pane contentId="main" when="false">

<!--Colocar aqui si se quiere quese oculte el icono al abrir el menu-->

        <!--  the side menu  -->
        <ion-menu contentId="main" side="end" type="reveal">

            <ion-list>

                <ion-list-header>
                    <strong>Menu</strong>
                </ion-list-header>

                <ion-menu-toggle>
                    <ion-item detail="true" *ngIf="login == true" [routerLink]="['/tabs/home']">
                        <ion-label>Home</ion-label>
                        <ion-icon slot="start" name="home"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle *ngIf="login == false">
                    <ion-item [routerLink]="['/login']">
                        <ion-label>Iniciar sesión</ion-label>
                        <ion-icon slot="start" name="log-in-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle *ngIf="login == false">
                    <ion-item [routerLink]="['/register']">
                        <ion-label>Registrarse</ion-label>
                        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle *ngIf="login" detail="true">
                    <ion-item detail="true" (click)="perfil()">
                        <ion-label>Perfil</ion-label>
                        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle *ngIf="login" detail="true">
                    <ion-item detail="true" routerLink="./add-budget">
                        <ion-label>Educación financiera</ion-label>
                        <ion-icon slot="start" name="cash-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle *ngIf="login">
                    <ion-item detail="true" (click)="logout()">
                        <ion-label>Cerrar sesión</ion-label>
                        <ion-icon slot="start" name="log-out-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item (click)="infoAutor()">
                        <ion-label>Acerca de</ion-label>
                        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>

        </ion-menu>

        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>

</ion-app>
