<ion-content>
  <div class="main_content_div">

      <ion-label class="welcome_lbl">Crear Cuenta</ion-label>

      <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input [(ngModel)]="datos.usuario"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input type="number" [(ngModel)]="datos.edad"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="datos.correo"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Contraseña (mayor a 6 caracteres)</ion-label>
          <ion-input type="password" [(ngModel)]="datos.password"></ion-input>
      </ion-item>

<!--      <div class="flex_div">-->
<!--          <div class="check_flex">-->
<!--              <ion-checkbox></ion-checkbox>-->
<!--              <ion-label>Remember me</ion-label>-->
<!--          </div>-->
<!--          <ion-label class="flex_lbl">Forgot password ?</ion-label>-->
<!--      </div>-->
      <br>

      <ion-button expand="block" (click)="registrar()">
          Registrarse
      </ion-button>

      <ion-label class="last_lbl">¿Ya tienes una cuenta? <span (click)="irLogin()">Ingresar</span></ion-label>

  </div>
</ion-content>
