<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Conceptos clave de finanzas personales</ion-label>
        <br><br>
<!--        <iframe width="100%" height="30%" src="https://www.youtube.com/embed/9DM6t6nLR84" title="YouTube video player"-->
<!--                frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                allowfullscreen></iframe>-->

                <iframe width="100%" height="40%" src="https://www.youtube.com/embed/0YasE7F-9CM" title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                    <p>La educación financiera es realmente importante, ya que nos permite acceder a técnicas e instrumentos que
                        favorecen nuestras decisiones frente al uso del dinero.</p>
                    <p>
                        La educación financiera quiere promover tres aspectos clave:<br><br>
                        <strong>■</strong> Adquirir un conocimiento y una comprensión en materia de finanzas personales y
                        familiares.<br><br>
                        <strong>■</strong> Desarrollar competencias en ese ámbito, es decir tener capacidad para utilizar los
                        conocimientos en beneficio propio.<br><br>
                        <strong>■</strong> Ejercer la responsabilidad financiera, es decir, llevar a cabo una gestión adecuada de
                        las
                        finanzas personales y familiares, realizando elecciones informadas con conocimiento
                        de los riesgos asumidos.
                        <br><br>

                        En este contexto es una buena idea familiarizarse
                        con algunos términos, conceptos claves en finanzas personales que permitirán acrecentar tu conocimiento.
                        Aquí, te presento algunos de ellos.
                    </p>

                    <h4>Presupuesto</h4>
                    <p>Es la lista de todos los ingresos y gastos que proyectamos vamos a tener en un futuro. Para ello nos
                        basaremos en el Registro de Ingresos y Gastos que previamente hemos elaborado, así como en nuestras metas
                        establecidas. El presupuesto es el plan para nuestras finanzas y la guía al momento de gastar y organizar
                        las compras.</p>

                    <h4>Consumismo</h4>
                    <p>Es un fenómeno económico y social que implica el consumo excesivo e innecesario de bienes y servicios,
                        afectando gravemente las finanzas personales.
                        Puede darse como consecuencia de factores externos al consumidor, por la influencia de la publicidad y la
                        imposición de la moda, pero también por factores internos como las falsas ideas de necesidad, la
                        compensación de emociones, o por querer aparentar al compararse con otros o buscando la aceptación de un
                        grupo.
                    </p>

                    <h4>Gastos hormigas</h4>
                    <p>Son esos pequeños gastos diarios que hacemos y que, como son pequeños, se nos pueden olvidar considerarlos en
                        nuestro presupuesto.</p>

                    <h4>Objetivos financieros</h4>
                    <p>El objetivo final de las finanzas personales recae en el cumplimiento de nuestras metas personales, y para
                        poder cumplir cada una de ellas tenemos que adquirir bienes o realizar actividades que requieren de dinero.
                        Esto es un objetivo financiero, la cantidad de dinero que necesitamos reunir para poder cumplir una
                        meta.</p>


                    <h4>Ahorro como gasto</h4>
                    <p>Es un concepto fundamental y una estrategia básica de ahorros. Se trata de asignar un monto fijo de nuestro
                        ingreso para ser ahorrado, idealmente como porcentaje. Así conseguiremos ser constantes, y lo más
                        importante, no esperar hasta después de gastar, ya que es posible que no te quede nada después de
                        hacerlo.</p>

                    <h4>Necesidades vs deseos</h4>
                    <p>Clave para el control de gastos. Las necesidades son esos gastos de los que no podemos prescindir, ya que son
                        fundamentales o importantes para nosotros. En cambio los deseos, aunque tal vez importantes en el momento,
                        son cosas que podemos dejar de adquirir, esas que de no comprarse no pasa nada. La diferencia entre
                        necesidades y deseos es particular de cada quien, y está determinada por sus hábitos, intereses y
                        gustos.</p>
                    <h4>Fondo de emergencia</h4>
                    <p>Es la parte de los ahorros dedicada a crear un fondo para afrontar alguna contingencia que se presente, como
                        el despido del trabajo o un problema de salud. Antes de dedicar nuestros ahorros a cumplir nuestras metas o
                        invertir, es prudente primero acumular un fondo de emergencia.</p>
                    <h4>Inversión</h4>
                    <p>La inversión se trata de buscar alternativas que permitan que tus ahorros generen cierta rentabilidad, es
                        decir, no dejar tus ahorros estén guardados y perdiendo valor a causa de la inflación. Cabe decir, que antes
                        de empezar a invertir, primero se debe formar un fondo de emergencia. Además, invertir conlleva cierto
                        riesgo, el cual es generalmente proporcional al rendimiento que se puede obtener.</p>

                </div>
            </ion-content>
