ion-content {
    --background: #F8F9F9;
}
.main_content_div {
    width: 100%;

    ion-label {
        display: block;
    }

    .gradient_div {
        height: 270px;
        background: var(--ion-color-primary);
        border-bottom-right-radius: 60px;
        padding: 20px;
        padding-top: 40px;
        width: 100%;

        .abs_round {
            background-image: linear-gradient(to right, rgba(255,255,255,0.1), transparent);
            height: 250px;
            width: 250px;
            border-radius: 50%;
            position: absolute;
            z-index: 99;
            right: -60px;
            top: -80px;
            z-index: 999;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        }

        .flex_header {
            display: flex;
            align-items: center;
            position: relative;

            ion-label {
                color: white;
                font-family: 'semi-bold';
                font-size: 20px;
                margin-left: 40px;
            }
            ion-icon {
                position: absolute;
                font-size: 26px;
                color: white;
                z-index: 999;
            }
        }
    }

    .container_div {
        padding: 20px;
        margin-top: -200px;
        position: absolute;
        width: 100%;
        z-index: 9999;

        .white_box {
            background: white;
            padding: 16px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .amount_detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 16px;

                .simp_lbl {
                    color: #77869E;
                    font-size: 18px;
                }
                .amount_lbl {
                    color: var(--ion-color-primary);
                    font-family: 'semi-bold';
                    font-size: 18px;
                }
            }

            ion-input {
                box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
                border-radius: 5px;
                --padding-top: 15px;
                --padding-bottom: 15px;
                --padding-start: 10px;
                --padding-end: 10px;
                font-family: 'medium';
                margin: 10px 0px;

                ion-icon {
                    color: #77869E;
                    padding-left: 16px;
                    font-size: 20px;
                }
            }
        }

        .title_lbl {
            font-size: 20px;
            color: #77869E;
            font-family: 'semi-bold';
            margin: 20px 0px;
        }

        .shopping_div {
            background: white;
            border-radius: 10px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-bottom: 16px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);

            
            .content_div {
                .date {
                    font-size: 13px;
                    color: #77869E;
                    font-family: 'regular';
                    margin-bottom: 3px;
                }
                .name {
                    font-size: 16px;
                    font-family: 'semi-bold';
                }
            }

            .blue_lbl {
                font-size: 20px;
                color: #1BC773;
            }
            .light_lbl {
                font-size: 20px;
                color: #F24750;
            }
        }
    }
}


