<ion-content>
    <div class="main_content_div">

        <div class="gradient_div">
            <div class="abs_round"></div>
            <div class="flex_header">
                <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
                <ion-label>Tu actividad</ion-label>

                <ion-label slot="end" style="
                position: fixed;
                right: 30px;
                top: 40px;
                margin-left: auto;
                margin-right: 0;">
                    Saldo: ${{sumaTotalIngresos - sumaTotalGastos}}
                </ion-label>

            </div>


        </div>

        <div class="container_div">

            <ion-label class="title_lbl" style="color: #DFE7F5">Transacciones</ion-label>

            <div class="shopping_div" *ngFor="let transaccion of transacciones">
                <div class="content_div">
                    <ion-label class="date">{{transaccion.fecha | date:'medium'}}</ion-label>

                    <ion-label class="name">{{transaccion.descripcion_gasto}}</ion-label>
                    <ion-label class="name">{{transaccion.descripcion_ingreso}}</ion-label>

                </div>

                <ion-label *ngIf="transaccion.tipo_transaccion == 'ingreso-fijo'"
                           style="color: #656a72; text-align: right; font-size: 13px">Fijo
                </ion-label>
                <ion-label class="blue_lbl" *ngIf="transaccion.tipo_transaccion == 'ingreso'">+
                    ${{transaccion.monto_ingreso}}</ion-label>
                <ion-label class="blue_lbl" *ngIf="transaccion.tipo_transaccion == 'ingreso-fijo'">+
                    ${{transaccion.monto_ingreso}}</ion-label>

                <ion-label *ngIf="transaccion.tipo_transaccion == 'gasto-fijo'"
                           style="color: #656a72; text-align: right; font-size: 13px">Fijo
                </ion-label>
                <ion-label class="light_lbl" *ngIf="transaccion.tipo_transaccion == 'gasto'">
                    -${{transaccion.monto_gasto}}</ion-label>
                <ion-label class="light_lbl" *ngIf="transaccion.tipo_transaccion == 'gasto-fijo'">
                    -${{transaccion.monto_gasto}}</ion-label>
            </div>
        </div>

    </div>
</ion-content>
