<ion-content>
    <div class="main_content_div">

        <ion-buttons slot="start" class="nav">
            <ion-menu-button style="color: #ffffff"></ion-menu-button>
        </ion-buttons>

        <div class="gradient_div">
            <div class="abs_round"></div>
            <div class="flex_header">

                <ion-label>Presupuesto: Mes de {{mesActual}}</ion-label>
                <!--               <ion-icon name="notifications"></ion-icon>-->
            </div>
        </div>
        <br>

        <div class="container_div">

            <div class="white_box">
                <div class="flex_div">
                </div>
                <ion-slides mode="ios" pager="ios" scrollbar="ios">
                    <ion-slide>
                        <div>
                            <ion-progress-bar style="height: 10px; width: 300px" [value]="porcentaje">
                            </ion-progress-bar>
                            <br>
                            <ion-label color="danger" class="date" *ngIf="porcentaje > 1">⚠ Presupuesto excedido
                            </ion-label>
                            <img src="assets/imgs/card_2.png" alt="">
                            <ion-label class="grey_lbl">Estás gastando</ion-label>
                            <ion-label id="gastosBarra" class="price_lbl">${{sumaTotalGastos}}</ion-label>
                            <ion-label id="ingresosBarra" class="grey_lbl">de ${{sumaTotalIngresos}}</ion-label>
                            <br>


                            <ion-label *ngIf="ahEx == false" [ngClass]="{saldo: ahEx == false}">Saldo destinado a
                                ahorro: ${{montoAhorro}}</ion-label>

                            <ion-label *ngIf="ahEx == true" [ngClass]="{ahEx: ahEx == true}">Saldo destinado a ahorro: ⚠
                                Excedido
                            </ion-label>


                            <ion-label class="saldo">Saldo restante:
                                ${{sumaTotalIngresos - sumaTotalGastos}}</ion-label>
                            <br><br>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>

            <ion-grid fixed>
                <ion-row>

                    <ion-col size="6">
                        <ion-button expand="block" routerLink="/transfer" [queryParams]="{mesElegido: thisMes}">
                            <img src="assets/imgs/send.png">
                            <ion-label>Agregar gasto</ion-label>
                        </ion-button>
                    </ion-col>

                    <ion-col size="6">
                        <ion-button expand="block" routerLink="/ingreso-dinero" [queryParams]="{mesElegido: thisMes}">
                            <img src="assets/imgs/calculation.png">
                            <ion-label>Agregar ingreso</ion-label>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button class="ion-text-center" expand="block" routerLink="/transferFijo">
                            <img src="assets/imgs/gasto-fijo.png">
                            <ion-label> +Gasto fijo</ion-label>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button class="ion-text-center" expand="block" routerLink="/ingreso-dinero-fijo">
                            <img src="assets/imgs/ingreso-fijo.png">
                            <ion-label> +Ingreso fijo</ion-label>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button class="ion-text-center" expand="block" routerLink="/activity"
                                    [queryParams]="{mesElegido: thisMes}">
                            <img src="assets/imgs/calculation.png">
                            <ion-label>Ver actividad</ion-label>
                        </ion-button>
                    </ion-col>

                </ion-row>
            </ion-grid>
            <br>
            <!--            <app-agregar-gasto [mesElegido] = 'true'></app-agregar-gasto>-->

            <ion-button (click)="prueber()">Actualizar</ion-button>
            <ion-button (click)="ahorro()">Ahorro</ion-button>

            <ion-label class="title_lbl">Control de movimientos
                <ion-button color="light" class="small_btnc" (click)="operarMes(tabID)">Mes actual</ion-button>
            </ion-label>


            <div class="month_div">
                <!--            <div class="popover_div">-->
                <!--                <ion-label>Mensual</ion-label>-->
                <!--                <ion-icon name="chevron-down-outline"></ion-icon>-->
                <!--            </div>-->
                <div class="month_list">

                    <ion-button color="light" class="small_btnc" (click)="operarMes(0)">Ene</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(1)">Feb</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(2)">Mar</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(3)">Abr</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(4)">May</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(5)">Jun</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(6)">Jul</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(7)">Ago</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(8)">Sep</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(9)">Oct</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(10)">Nov</ion-button>
                    <ion-button color="light" class="small_btnc" (click)="operarMes(11)">Dic</ion-button>
                </div>
            </div>

            <div style="margin-bottom: 50px" *ngFor="let categoria of categorias">
                <div class="shopping_div" *ngIf="catHogar > 0 && categoria.hogar == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-house-with-a-garden-96.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Hogar</ion-label>
                        <ion-label class="date" *ngIf="catHogar > sumaCatHogar">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catHogar > sumaCatHogar}">
                        ${{catHogar}} de ${{sumaCatHogar}}</ion-label>
                </div>

                <div class="shopping_div" *ngIf="catSuscripcion > 0  && categoria.suscripcion == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-general-ledger-96.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Suscripción</ion-label>
                        <ion-label class="date" *ngIf="catSuscripcion > sumaCatSuscripcion">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catSuscripcion > sumaCatSuscripcion}">
                        ${{catSuscripcion}} de ${{sumaCatSuscripcion}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catEducacion > 0  && categoria.educacion == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-teaching-48.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Educación</ion-label>
                        <ion-label class="date" *ngIf="catEducacion > sumaCatEducacion">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catEducacion > sumaCatEducacion}">
                        ${{catEducacion}} de ${{sumaCatEducacion}}</ion-label>
                </div>

                <div class="shopping_div" *ngIf="catCompras > 0  && categoria.compras == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-shopping-cart-96.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Compras</ion-label>
                        <ion-label class="date" *ngIf="catCompras > sumaCatCompras">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catCompras > sumaCatCompras}">
                        ${{catCompras}} de ${{sumaCatCompras}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catComida > 0  && categoria.comida == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-thanksgiving-48.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Comida</ion-label>
                        <ion-label class="date" *ngIf="catComida > sumaCatComida">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catComida > sumaCatComida}">
                        ${{catComida}} de ${{sumaCatComida}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catMascotas > 0  && categoria.mascotas == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-pets-48.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Mascotas</ion-label>
                        <ion-label class="date" *ngIf="catMascotas > sumaCatMascotas">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catMascotas > sumaCatMascotas}">
                        ${{catMascotas}} de ${{sumaCatMascotas}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catTransporte > 0  && categoria.transporte == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-public-transportation-48.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Transporte</ion-label>
                        <ion-label class="date" *ngIf="catTransporte > sumaCatTransporte">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catTransporte > sumaCatTransporte}">
                        ${{catTransporte}} de ${{sumaCatTransporte}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catDeudas > 0  && categoria.deudas == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-debt-48.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Deudas</ion-label>
                        <ion-label class="date" *ngIf="catDeudas > sumaCatDeudas">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catDeudas > sumaCatDeudas}">
                        ${{catDeudas}} de ${{sumaCatDeudas}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catEntretenimiento > 0  && categoria.entretenimiento == true">
                    <div class="color_box">
                        <img src="assets/imgs/icons8-theatre-mask-48.png">
                    </div>
                    <div class="content_div">
                        <ion-label style="margin-bottom: 10px;" class="name">Entretenimiento</ion-label>
                        <ion-label class="date" *ngIf="catEntretenimiento > sumaCatEntretenimiento">⚠ Excedido
                        </ion-label>
                    </div>
                    <ion-label style="margin-top: 25px" class="price"
                               [ngClass]="{priceOut: catEntretenimiento > sumaCatEntretenimiento}">
                        ${{catEntretenimiento}} de ${{sumaCatEntretenimiento}}</ion-label>
                </div>


                <div class="shopping_div" *ngIf="catOtros > 0  && categoria.otros == true">
                    <div class="color_box">
                        <img src="assets/imgs/la-vida.png">
                    </div>
                    <div class="content_div">
                        <ion-label class="name">Otros</ion-label>
                        <ion-label class="date" *ngIf="catOtros > sumaCatOtros">⚠ Excedido</ion-label>
                    </div>
                    <ion-label class="price"
                               [ngClass]="{priceOut: catOtros > sumaCatOtros}">
                        ${{catOtros}} de ${{sumaCatOtros}}</ion-label>
                </div>
            </div>
        </div>
    </div>
</ion-content>
