ion-content {
  --background: #F8F9F9;
}

.main_content_div {
  width: 100%;
  overflow: scroll;

  ion-label {
    display: block;
  }

  .nav {
    /*height: var(--nav-height);*/
    /*height: auto;*/
    position: fixed;
    right: 0;
    top: 0;
    color: #a0a0a0;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: end;
  }

  .gradient_div {
    height: 270px;
    background: var(--ion-color-primary);
    border-bottom-right-radius: 60px;
    padding: 20px;
    padding-top: 40px;
    width: 100%;

    .abs_round {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
      height: 250px;
      width: 250px;
      border-radius: 50%;
      position: absolute;
      z-index: 99;
      right: -60px;
      top: -80px;
      z-index: 999;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }

    .flex_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-label {
        color: white;
        font-family: 'semi-bold';
        font-size: 20px;
      }

      ion-icon {
        color: white;
        font-size: 20px;
      }
    }
  }

  .container_div {
    padding: 20px;
    margin-top: -200px;
    margin-bottom: -20px;
    position: absolute;
    width: 100%;
    --offset-bottom: -20px;
    z-index: 9999;

    .white_box {
      background: white;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      position: relative;
      padding-bottom: 20px;

      .flex_div {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'regular';

        .span_lbl {
          color: #77869E;
          font-size: 13px;

          span {
            color: var(--ion-color-primary);
            font-family: 'semi-bold';
          }
        }

        .bold_lbl {
          font-size: 13px;
          color: var(--ion-color-primary);
          font-family: 'semi-bold';
        }
      }
    }

    img {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .grey_lbl {
      font-size: 13px;
      color: #77869E;
      font-family: 'semi-bold';
    }

    .price_lbl {
      font-size: 30px;
      // font-family: 'semi-bold';
    }
    .saldo {
      font-size: 13px;
      color: #77869E;
      // font-family: 'semi-bold';
    }
    .ahEx {
      font-size: 13px;
      color: #EE5A55;
      // font-family: 'semi-bold';
    }

    .abs_div {
      width: 100%;
      height: 70px;
      background: white;
      position: absolute;
      top: 160px;
      left: 0;
      display: flex;
      justify-content: space-around;
      padding-top: 10px;

      ion-label {
        color: #77869E;
        font-family: 'medium';
        font-size: 14px;
      }

      // border: 2px solid red;
    }

  }
  .month_div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;

    .popover_div {
      background: white;
      min-width: 100px;
      border-radius: 25px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-label {
        color: #77869E;
        font-size: 13px;
        font-family: 'semi-bold';
      }

      ion-icon {
        color: #77869E;
      }
    }

    .month_list {
      display: flex;
      overflow-x: scroll;
      align-items: center;
      margin-left: 6px;

      .small_btnc {
        width: 70px !important;
        min-width: 70px;
        border-radius: 5px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        }

        ion-label {
          text-align: center;
          font-size: 13px;
          color: #77869E;
          font-family: 'semi-bold';
        }
      }

      .active {
        background: #DFE7F5;

        ion-label {
          color: var(--ion-color-primary);
        }
      }
    }
  }

  ion-grid {
    padding: 0px;
    margin: 20px 0px;

    ion-button {
      --background: #DFE7F5;
      --border-radius: 5px;
      height: 48px;

      ion-label {
        font-size: 13px;
        color: var(--ion-color-primary);
        margin-left: 10px;
        font-family: 'semi-bold';
      }
    }
  }

  .title_lbl {
    font-size: 20px;
    font-family: 'semi-bold';
  }

  .btn_flex {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;

    .small_btn {
      width: 70px;
      border-radius: 5px;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;

      ion-label {
        text-align: center;
        font-size: 13px;
        color: #77869E;
        font-family: 'semi-bold';
      }
    }

    .active {
      background: #DFE7F5;

      ion-label {
        color: var(--ion-color-primary);
      }
    }
  }

  .shopping_div {
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    .color_box {
      height: 55px;
      width: 55px;
      min-width: 55px;
      border-radius: 10px;
      position: relative;
      // background: #ccc;

      img {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .content_div {
      padding-left: 16px;

      .name {
        font-size: 16px;
        font-family: 'semi-bold';
        margin-bottom: 5px;
      }

      .date {
        font-size: 13px;
        color: #77869E;
        font-family: 'regular';
      }
    }

    .price {
      position: absolute;
      right: 20px;
      //color: #EE5A55;
      color: #3bc04a;
      font-family: 'semi-bold';
    }

    .priceOut {
      position: absolute;
      right: 20px;
      color: #EE5A55;
      font-family: 'semi-bold';
    }

  }

