<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<div class="main_content_div">
    <ion-label class="welcome_lbl">Educación Financiera</ion-label>

    <!--Aqui empezaría el item---------------------------------------------------------------------------------->
    <div class="card">
        <div class="content">
            <h3 style="text-align: center">Parte 1: Introducción a las Finanzas Personales</h3>
            <img src="assets/imgs/reshot-illustration-man-doing-financial-work-QZPDGHKC38.png"><br><br>
            <label class="modal-open modal-label" for="modal-open4">
                <p>Revisar módulo</p>
            </label>

            <!--Aquí comienza lo que va dentro del modal-------------------------------------------------------------->
            <input type="radio" name="modal" value="open" id="modal-open4" class="modal-radio"/>
            <div class="modal modal4">
                <label class="modal-label overlay">
                    <input type="radio" name="modal" value="close" class="modal-radio"/>
                </label>
                <div class="content">
                    <div class="top">
                        <h2 style="color: rgb(40,140,210)">Temas</h2>
                        <label class="modal-label close-btn">
                            <input type="radio" name="modal" value="close" class="modal-radio"/>
                        </label>

                        <ion-list>
                            <ion-item>
                                <ion-label routerLink="/add-contact">
                                    <h2 style="text-align: justify">Introducción a las<br>finanzas personales</h2>
                                    <span style="font-size:14px; color: rgba(152,154,162,0.85)">Pulse para abrir</span>
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-label routerLink="/conceptos-clave">
                                    <h2 style="text-align: justify">Conceptos clave<br>de finanzas personales</h2>
                                    <span style="font-size:14px; color: rgba(152,154,162,0.85)">Pulse para abrir</span>
                                </ion-label>
                            </ion-item>
                        </ion-list>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Aqui empezaría el otro item---------------------------------------------------------------------------------->

    <div class="card">
        <div class="content">
            <h3 style="text-align: center">Parte 2: Tomar consciencia de mis errores financieros</h3>
            <img src="assets/imgs/reshot-illustration-man-with-magnifying-glass-2WCSQX3KD5.png"><br><br>
            <label class="modal-open modal-label" for="modal-open2">
                <p>Revisar módulo</p>
            </label>

            <!--Aquí comienza lo que va dentro del modal------------------->
            <input type="radio" name="modal" value="open" id="modal-open2" class="modal-radio"/>
            <div class="modal modal2">
                <label class="modal-label overlay">
                    <input type="radio" name="modal" value="close" class="modal-radio"/>
                </label>
                <div class="content">
                    <div class="top">
                        <h2 style="color: rgb(40,140,210)">Temas</h2>
                        <label class="modal-label close-btn">
                            <input type="radio" name="modal" value="close" class="modal-radio"/>
                        </label>

                        <ion-list>
                            <ion-item>
                                <ion-label routerLink="/cometidos-errores">
                                    <h2 style="text-align: justify">Errores cometidos en<br>las finanzas personales</h2>
                                    <span style="font-size:14px; color: rgba(152,154,162,0.85)">Pulse para abrir</span>
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-label routerLink="/categoria-financiera">
                                    <h2 style="text-align: justify">Niveles financieros,<br>¿en cuál te encuentras?</h2>
                                    <span style="font-size:14px; color: rgba(152,154,162,0.85)">Pulse para abrir</span>
                                </ion-label>
                            </ion-item>
                        </ion-list>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Nueva card---------------------------------------------------------------------------------------------------->
    <div class="card">
        <div class="content">
            <h3 style="text-align: center">Parte 3: Implantar buenos hábitos financieros</h3>
            <img src="assets/imgs/reshot-illustration-financial-work-T4KVC8LBRQ.png"><br><br>
            <label class="modal-open modal-label" for="modal-open3">
                <p>Revisar módulo</p>
            </label>

            <!--Aquí comienza lo que va dentro del modal------------------->

            <input type="radio" name="modal" value="open" id="modal-open3" class="modal-radio"/>
            <div class="modal modal3">
                <label class="modal-label overlay">
                    <input type="radio" name="modal" value="close" class="modal-radio"/>
                </label>
                <div class="content">
                    <div class="top">
                        <h2 style="color: rgb(40,140,210)">Temas</h2>
                        <label class="modal-label close-btn">
                            <input type="radio" name="modal" value="close" class="modal-radio"/>
                        </label>
                        <ion-list>
                            <ion-item>
                                <ion-label routerLink="/buenos-habitos">
                                    <h2 style="text-align: justify">Acciones a seguir<br>para implantar<br>buenos
                                        hábitos<br>financieros</h2>
                                    <span style="font-size:14px; color: rgba(152,154,162,0.85)">Pulse para abrir</span>
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-label routerLink="/bienestar-financiero">
                                    <h2 style="text-align: justify">Paz financiera:<br>¿Cómo alcanzarla?</h2>
                                    <span style="font-size:14px; color: rgba(152,154,162,0.85)">Pulse para abrir</span>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
