<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button routerLink="/tabs/profile" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="info" class="main_content_div">

      <ion-label class="welcome_lbl">Editar Perfil</ion-label>

      <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="info.usuario"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input [(ngModel)]="info.edad"></ion-input>
      </ion-item>

<!--      <ion-item>-->
<!--          <ion-label position="floating">Correo</ion-label>-->
<!--          <ion-input [(ngModel)]="info.correo"></ion-input>-->
<!--      </ion-item>-->

      <ion-button (click)="guardarCambios()" expand="block">
          Editar información
      </ion-button>

  </div>
</ion-content>
