.main_content_div {
  padding: 16px;
  padding-top: 30px;
  overflow-y: scroll;

  .welcome_lbl {
    font-size: 26px;
    font-family: 'semi-bold';
  }
  p {
    font-family: -apple-system,"system-ui",Segoe UI,roboto,helvetica,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 27px;
    text-align: justify;
    font-min-size: 20px;
    color: rgba(73, 83, 98, 0.93);
  }
}
