<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Errores cometidos en las finanzas personales</ion-label>
        <br><br>
        <iframe width="100%" height="70%" src="https://www.youtube.com/embed/JzTWYvewVjA" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <p>Cuando los errores se convierten en hábitos; romper ese patrón, debe ser nuestra prioridad para lograr unas
            finanzas personales estables.</p>

        <blockquote>
            Tú, ahora mismo, tienes una opción: Puedes dejar que el dinero controle y defina tu vida o tú puedes
                controlarlo.
        </blockquote>

        <p>No es fácil manejar dinero, si no tenemos cuidado, se puede escapar como el agua
            entre los dedos antes de que nos demos cuenta. Más de alguna vez te habrás preguntado ¿en qué me lo gasté?
            ¿Y cómo es posible que no me quede casi nada?<br>Eso es algo que le ocurre especialmente a los más jóvenes
            (y también a muchos adultos que tienen dificultades para organizar sus finanzas).</p>

        <h4>No tener un fondo de emergencia</h4>

        <p>No planificar tus finanzas suele ser un asunto de pereza o de esperar a que llegue el <strong>"momento
            perfecto"</strong>, cuando en realidad puedes comenzar ahora mismo.
            <br>
            Es clave ordenar las finanzas para tener una aproximación real a tu situación financiera.
            <br>
            En ese sentido, algo esencial es ahorrar con el objetivo de tener un fondo de emergencia que pueda
            sostenerte por al menos seis meses y así enfrentar imprevistos que podrían llevarte a la bancarrota
            inesperadamente o dejarte en una difícil situación.
        </p>

        <h4>Acumular deuda</h4>
        <p>El pago de intereses y la acumulación de deudas pueden terminar adueñándose de tu presupuesto, haciendo que
            la próxima vez que te endeudes, la situación termine siendo insalvable.</p>

        <h4>Comprar casa y quedarse sin dinero</h4>
        <p>Esta falta de jerarquización, desde lo más importante a lo menos importante, "puede hacer que los jóvenes
            terminen viviendo en su casa, pero sin muebles".</p>


        <h4>Compararse con los demás</h4>
        <p>Dejar de lado la vanidad es una buena manera de iniciar un plan financiero que permita tomar <strong>decisiones
            sensatas</strong> para manejar el dinero.
            <br>
            Las decisiones de gasto más irracionales o irresponsables están
            muchas veces influidas por el deseo de mantener un ciertoestándar de vida.
            <br>
            Básicamente, el intento de mantener un nivel de gasto que no sea inferior al de otras personas que
            conocemos.
            <br>
            Eso es algo que no ayuda en nada, porque finalmente todos tenemos situaciones económicas distintas y no vale
            la pena compararse o tratar de seguir el nivel de gastos del vecino.
        </p>

    </div>
</ion-content>
