<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button routerLink="/tabs" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <ion-label class="welcome_lbl">Agregar ingreso fijo</ion-label>

        <div>
            <ion-button class="normal" (click)="nuevoIn()">Nuevo ingreso fijo</ion-button>
        </div>

<!--        <ion-label class="title_lbl">Frecuencia del ingreso</ion-label>-->

<!--        <ion-slides mode="ios" scrollbar="ios" [options]="slideOpts" class="user_slider">-->
<!--            <ion-slide (click)="selecfrecuencia('diario')">-->
<!--                <div class="slide_div"-->
<!--                     [ngClass]="{selected: typeFrecuencia == 'diario'}">-->
<!--                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/icons8-coin-in-hand-48.png)'"></div>-->
<!--                    <ion-label class="username">Ingreso <br> diario</ion-label>-->
<!--                </div>-->
<!--            </ion-slide>-->
<!--            <ion-slide (click)="selecfrecuencia('semanal')">-->
<!--                <div class="slide_div"-->
<!--                     [ngClass]="{selected: typeFrecuencia == 'semanal'}">-->
<!--                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/icons8-initiate-money-transfer-48.png)'"></div>-->
<!--                    <ion-label class="username">Ingreso <br> semanal</ion-label>-->
<!--                </div>-->
<!--            </ion-slide>-->
<!--            <ion-slide (click)="selecfrecuencia('mensual')">-->
<!--                <div class="slide_div"-->
<!--                     [ngClass]="{selected: typeFrecuencia == 'mensual'}">-->
<!--                    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/icons8-banknotes-48.png)'"></div>-->
<!--                    <ion-label class="username">Ingreso <br> mensual</ion-label>-->
<!--                </div>-->
<!--            </ion-slide>-->
<!--        </ion-slides>-->

        <ion-label class="title_lbl">Tipo de ingreso</ion-label>
        <ion-select required value="ingresos" [(ngModel)]="newIngresoFijo.categoria" placeholder="Seleccione una categoría">
            <ion-select-option value="Salario">Salario</ion-select-option>
            <ion-select-option value="Pagos extra">Pagos extra</ion-select-option>
            <ion-select-option value="Devolución">Devolución</ion-select-option>
            <ion-select-option value="Regalo">Regalo</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>

        <ion-label class="title_lbl">Detalles del ingreso</ion-label>

        <ion-item>
            <ion-label position="floating">Monto</ion-label>
            <ion-input type="number" [(ngModel)]="newIngresoFijo.monto_ingreso"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Descripción del ingreso</ion-label>
            <ion-input [(ngModel)]="newIngresoFijo.descripcion_ingreso"></ion-input>
        </ion-item>

        <ion-button (click)="guardarIngresoFijo()" expand="block">
            Guardar
        </ion-button>


        <ion-label class="title_lbl">Ingresos fijos activos:</ion-label>
    </div>

    <ion-item *ngFor="let ingreso of ingresosFijos">
        <ion-label>
            <ion-label style="
            font-size: 13px;
            color: #77869E;
            font-family: 'regular';
            margin-bottom: 3px;">{{ingreso.categoria}}
            </ion-label>
            {{ingreso.descripcion_ingreso}} - ${{ingreso.monto_ingreso}}
        </ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="newIngresoFijo = ingreso">
                <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteIngreso(ingreso)">
                <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>


</ion-content>
