<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Introducción a las finanzas personales</ion-label>
        <br><br>
<!--        <iframe width="100%" height="40%" src="https://www.youtube.com/embed/0YasE7F-9CM" title="YouTube video player"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                allowfullscreen></iframe>-->
        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fjalejandroficial%2Fvideos%2F642214467156638%2F&show_text=false&width=476&t=0"
                width="350" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <p>Muchas personas tienen creencias que limitan su progreso financiero, como se presenta a continuación:</p>
        <img src="assets/imgs/199643003_862317204363271_8708124578554980891_n.jpg">

        <h2>
            Motivos para saber más de finanzas personales
        </h2>

        <h4>
            Las finanzas están presentes en nuestro día a día
        </h4>
        <p>
            Al decidir dónde o qué comer, cuando elegimos el tipo de transporte que nos conviene usar, y en general
            cuando
            tomamos una decisión
            relacionada al uso de nuestro dinero, las finanzas están presentes. Lo ideal sería seguir las pautas de
            nuestro
            presupuesto.
            Componentes de las finanzas personales
        </p>

        <h4>
            El dinero es un medio para alcanzar nuestras metas
        </h4>
        <p>
            Todos contamos con ciertos recursos que son finitos: una cantidad de tiempo, de energía y por supuesto
            también
            de dinero.
            Conviene entonces aprender a administrar lo que tenemos de la mejor manera ¿no crees?, para así poderle
            sacar el
            máximo provecho posible.
        </p>

        <h4>
            Promueve y genera la cultura de ahorro
        </h4>
        <p>
            Este es uno de los temas preferidos en el ámbito de las finanzas personales: el ahorro. Existen muchos
            métodos
            que puedes poner en práctica para generar por fin este buen hábito. Métodos como los retos o los que te
            sugieren
            ahorrar un porcentaje de tus ingresos. Pero sino buscas información no podrás conocerlos, y encontrar ese
            método
            que sea el ideal para ti. (En la aplicación usamos el método de destinar el 10% de los ingresos al ahorro)
        </p>

        <h4>
            Puede mejorar tus hábitos
        </h4>
        <p>
            Plantearte mejoras en tus gastos, en base a la nueva información que tienes, puede ayudarte a identificar
            algunos de los hábitos que quizá sería bueno mejorar. Entre estos tenemos los hábitos de compra por ejemplo.
            Temas como el uso de una lista de compras, compras por adelantado en base a tu presupuesto, usar tu tarjeta
            de
            crédito sin pagar intereses, entre otros.
            Pero saber más de finanzas personales, también te permite reconocer aquellas cosas que en realidad no te
            están
            aportando, y que podrían estar causándote malestares. En este aspecto, el tema de aprender a distinguir
            entre
            necesidades y deseos adquiere relevancia.
        </p>

        <h4>Te da ideas para generar más ingresos</h4>
        <p>Otro de los temas preferidos es el de cómo generar más ingresos. Desde ideas para empezar nuevos
            emprendimientos,
            negocios basados en tus aficiones, cómo generar ingresos extra por internet, hasta cómo crear los famosos
            ingresos pasivos. Ya sea por necesidad, o porque simplemente quieres aprovechar tu tiempo libre, en la red
            podrás encontrar muchas opciones (si las buscas).</p>

        <h4>Favorece tu salud</h4>
        <p>Tener más información sobre finanzas personales hace que tus decisiones sean más acertadas, y tus gastos
            mejorarán. Al poder ahorrar y no endeudarte en exceso, esas viejas preocupaciones por el dinero
            desaparecerán.
            Menos preocupaciones significan menos molestias, menos estrés. Y ya que el estrés es un desencadenante de
            enfermedades, te enfermas menos. Así, mejoran a la par tu salud física, mental, emocional y familiar.</p>

        <h4>Te abre al mundo de la inversión</h4>
        <p>Una de las principales recomendaciones para invertir (si no es que la más importante), es no invertir en algo
            que
            no conoces, que no entiendes. A menos que tengas a alguien de confianza que lo haga por ti, pero igual sería
            mejor aprender.</p>
    </div>
</ion-content>
