<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" slot="start">
            <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="welcome_lbl">Niveles financieros, ¿en cuál te encuentras?</ion-label>
        <br><br>

        <p>Existen varios niveles de libertad financiera y tratar de ubicarte en ellos es complicado si no sabes en qué
            consiste cada uno y en qué se diferencia. Localizarte es importante para que puedas plantearte cómo ascender
            por esa pirámide, porque dependiendo de en qué nivel te encuentres tus circunstancias por tanto tu plan de
            acción, cambiarán drásticamente.</p>

        <iframe width="100%" height="40%" src="https://www.youtube.com/embed/dJlLQC3dDy4" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <h4>0º. Dependencia financiera</h4>
        <p>El primero de los niveles hasta la libertad financiera es la dependencia financiera. En esta primera etapa
            tus gastos son mayores que tus ingresos. En otras palabras, en mayor o menor medida dependes de terceros
            para poder pagar tus facturas.
            <br><br>
            Te encuentras en este nivel si por ejemplo eres un niño que depende de su padres para que le proporcionen
            comida, ropa, vivienda, etcétera. También vas a estar en este nivel si gastas más de lo que ganas, o el pago
            de tus deudas es mayor que tus ingresos.
            <br><br>
            En este nivel tu grado de libertad financiera es nulo, por ello este nivel también se puede considerar como
            nivel 0.
        </p>

        <h4>1º. Supervivencia Financiera</h4>
        <p>Este nivel es el más bajo en la escalera para lograr la libertad financiera. Conocido como el nivel de
            «supervivencia», estamos en el lugar de la esclavitud moderna. Normalmente, se caracteriza por vivir el día
            a día, las personas en este nivel piensan en el mes en curso o como mucho en el próximo mes. Son totalmente
            dependientes de su trabajo, es decir, si se les priva de él, no tienen ingresos.
        <br><br>
        También se caracteriza por tener ahorros mínimos si se quedan sin ingresos, difícilmente podrían sobrevivir
            en sus condiciones habituales de 30 a 60 días. También suelen estar atrapados en deudas, ya sea por una
            casa, un automóvil o tarjetas de crédito. Hay personas atrapadas en este nivel incluso con buenos salarios,
            por lo que no es determinante el salario obtenido sino los hábitos para pasar al siguiente nivel.
        <br><br>
        ¿Cómo subir de nivel? Controla tus gastos, debes deshacerte rápidamente de todo lo que no necesitas o apenas
            usas. Puede ser incómodo al principio, somos animales de costumbres, pero eso es lo principal. Revisa la
            parte del salario que puedes ahorrar y hazlo de forma permanente (esto implica todos los meses). En caso de
            que estés atrapado en muchas deudas con intereses abusivos, unifícalas o contacta con un profesional, habla
            también con tus acreedores. Y por supuesto intentar buscar nuevas fuentes de ingresos. Esto último acelerará
            el proceso de salto de nivel.</p>

        <h4>2º. Estabilidad Financiera</h4>
        <p>Este es el nivel mínimo al que todo el mundo debería aspirar. Entre las características de las personas que
            se encuentran en este nivel, cabe destacar que cuentan con un colchón económico para sobrevivir 6 meses en
            caso de falta de ingresos.
            <br><br>
            Todavía dependen de su trabajo y, aunque no tienen bienes, empiezan a interesarse por eso. La estabilidad
            emocional de las personas que están aquí es generalmente mejor que las del Nivel 1, ya que tienen una
            seguridad económica que los sustenta. Las deudas que se pueden contraer no son de intereses tan excesivos.
            Pueden ahorrar perfectamente cada mes. Por último, son más receptivos a las ideas de negocio o de inversión.
            Habiendo llegado a este nivel, la idea de considerar pasar al siguiente nivel es interesante.
            <br><br>
            ¿Cómo subir de nivel? En este caso, el consejo dado anteriormente sigue siendo válido incluso a este nivel.
            Si la persona se relaja, puede estancarse. Es fundamental seguir controlando los gastos y seguir ahorrando.
            Por otro lado, dada la estabilidad financiera, sería bueno comprar pequeños activos. Tal vez acciones para
            cosechar algunos primeros dividendos, un garaje, bonos del gobierno… cualquier activo que comience a
            reportar un pequeño ingreso y te quite el miedo a invertir.
        </p>

        <h4>3º. Seguridad Financiera</h4>
        <p>Si el primer nivel es supervivencia y el segundo es estabilidad, este nivel es seguridad. La persona en este
            nivel sabe que la solución es invertir su capital para seguir reportando sus ingresos. Acciones,
            propiedades, negocios o cualquier cosa que genere un flujo de efectivo regular. Podemos empezar a hablar “a
            la ligera” de cierta libertad financiera, incluso si todavía dependes de tu trabajo. Los ingresos pasivos de
            la persona aún no alcanzan los costos de su nivel de vida, pero logran financiar los pagos imprescindibles:
            electricidad, combustible, comida, etc.
            <br><br>
            Una característica emocional bastante común es la de la estabilidad, la tranquilidad e incluso la felicidad.
            Esto a su vez es algo peligroso, ya que suele llevar a las personas a relajarse y no querer pasar al
            siguiente nivel. El colchón económico que tienes podría permitirte vivir 2 años o más de forma tranquila. El
            siguiente nivel es sin duda el más interesante, y también el principal motivo de este artículo.
            <br><br>
            ¿Cómo subir de nivel? Continúa con el impulso de utilizar el capital ahorrado para comprar más activos.
            Formarse más económicamente, adquirir conocimientos que permitan a la persona crecer económicamente y
            gestionar mejor el entorno en el que cada vez se desenvuelve más. Diversifica tus inversiones, no tienes que
            poner todos los huevos en una sola cesta. Establece metas a largo plazo, 20 años o más.
        </p>

        <h4>4º. Libertad Financiera</h4>
        <p>Ser financieramente libre significa gastar tanto como recibes de los ingresos pasivos.</p>
        <p>Alcanzado este nivel la persona puede decidir dejar de trabajar sin que su vida se vea afectada. Puede
            continuar trabajando si lo desea, pero ya no trabaja por necesidad financiera para vivir. Hay muchos mitos
            sobre este nivel, pero lo cierto es que si una persona necesita 1.200 € para vivir y su pasivo declara
            constantemente 1.200 € al mes, ya ha alcanzado la libertad financiera.
            <br><br>
            Las personas en este nivel tienen una gran canasta de activos que le brindan ingresos regulares. Su cultura
            financiera es abundante. También disfrutan de tiempo libre completo para dedicarlo a su familia, hobbies o
            lo que más aman. El sentimiento de felicidad y plenitud es considerablemente más alto que el nivel 3.
            <br><br>
            ¿Cómo pasar el nivel? Sé feliz, si no lo eres, corres el riesgo de renunciar a algo o de bajar de nivel.
            Pasar tiempo con sus seres queridos es probablemente una de las razones por las que comenzaste. Aprende a
            proteger tu estilo de vida, es decir, a anticiparte a los eventos económicos y encontrar oportunidades
            cuando lleguen. Puedes elegir entre arriesgar más en tus inversiones o incluso seguir trabajando si quieres
            acelerar el paso de nivel.
        </p>
        <h4>5º. Abundancia financiera</h4>
        <p>Este nivel es el pico con el que muchas personas sueñan. Aquí los ingresos superan con creces tu nivel de
            vida varias veces. Es decir, puede que necesites los 1.200$ al mes para vivir, pero sin embargo recibes
            7.000$ o más de forma regular. Este exceso de ingresos se puede reinvertir, ya sabes, el dinero llama al
            dinero.
            <br><br>
            No solo en acciones, derechos de autor o propiedades, sino también en patrocinios, startups, incluso como
            inversor ángel. Es importante cuidar tu salud, tanto mental como física, por lo que es recomendable que
            dediques buena parte de tus ingresos a cuidarte. Los sentimientos en este nivel son de absoluta felicidad y
            plenitud, aparte de una gran independencia Ya que no tienes que pedir dinero ni tiempo a nadie, tienes
            ambos.
            <br><br>
            Espero que te haya gustado este artículo y recuerda que todo se puede lograr. ¡Que nada ni nadie te detenga!
        </p>
    </div>
</ion-content>
